* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

#particles-js {
    background-image: url('musimg3.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#logo {
    background-size: cover;
    background-repeat: no-repeat;
    font-family: cursive;
    font-weight: bold;
    color: #fff;
    font-size: 1.8em;
    text-decoration: none;
    cursor: pointer;
    /* margin-left: 4em; */
    font-family: cursive;
    position: absolute;
    left: 7vw;
    top: 7vh;
}

#logo:hover {
    color: #E91E63;
}

.glow {
    /* margin-left: 20%; */
    /* position: absolute; */
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin-top: 150px;
    margin-bottom: 50px;
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: 70px;
    text-transform: uppercase;
    animation: glow 1s ease-in-out infinite alternate;
    /* padding-bottom: 40px; */
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.buttons {
    height: 200px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.welcome {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 30px;
    transform: uppercase;
}

.welcome:hover {
    color: #E91E63;
}

.button1 {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    /* top: 65%;
    left: 38%; */
    width: 170px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px solid #fff;
    border-radius: 50px;
    transition: all.15s ease-in-out;
    color: #fff;
}

.button1:hover {
    box-shadow: 0 0 10px 0 #fff inset, 0 0 20px 2px #fff;
    border: 3px solid #fff;
    background-repeat: none;
    color: white;
    background: pink;
    font-size: 1.2vw;
}

.button2 {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    /* top: 65%;
    left: 60%; */
    width: 170px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px solid #fff;
    border-radius: 50px;
    transition: all.15s ease-in-out;
    color: #fff;
}

.button2:hover {
    box-shadow: 0 0 10px 0 #fff inset, 0 0 20px 2px #fff;
    border: 3px solid #fff;
    background-repeat: none;
    color: white;
    background: pink;
    font-size: 1.2vw;
}

@media(max-width: 900px) {
    .glow {
        font-size: 5vw;
    }
    .welcome {
        font-size: 3.5vw;
    }
    .buttons {
        flex-direction: column;
    }
    .button1 {
        width: 30vw;
        padding: 10px;
        border: 2px solid #fff;
        font-size: 3vw;
    }
    .button2 {
        width: 30vw;
        padding: 10px;
        border: 2px solid #fff;
        font-size: 3vw;
    }
}